*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.adeCar{
    margin-top: 20px;
}
.title-view{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none !important;    
}